
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>

<body>

<h1>successfully updated  </h1>
<ul>
    <li>
        ID:&nbsp;&nbsp; <%= toys.id %>
        <br><br>
        NAME:&nbsp;&nbsp;<%= toys.name %>
        <br><br>
        PRICE:&nbsp;&nbsp;<%= toys.price %>
        <br><br>
        <a href="/formaddtoy">Back</a>
    </li>
</ul>

</body>

</html>